// SPDX-License-Identifier: GPL-2.0-only

/dts-v1/;

#include "msm8916-ufi.dtsi"

/ {
	model = "UFI001C 4G Modem Stick";
	compatible = "thwc,ufi001c", "qcom,msm8916";

	fan0: fan0 {
        compatible = "gpio-fan";
        gpios = <&tlmm 21 GPIO_ACTIVE_HIGH>;
        #cooling-cells = <2>;
		gpio-fan,speed-map = <0 0>,
		                     <1 100>,
		                     <2 255>; 
    };

	thermal-zones {
		cpu0-1-thermal {
			trips {
				trip_medium_speed_01: trip-point-medium-01 {
					temperature = <55000>;
					hysteresis = <2000>;
					type = "active";
				};

				trip_full_speed_01: trip-point-full-01 {
					temperature = <60000>;
					hysteresis = <2000>;
					type = "active";
				};
			};

			cooling-maps {
				map_medium_speed_01 {
					trip = <&trip_medium_speed_01>;
					cooling-device = <&fan0 1 1>;
				};
				map_full_speed_01 {
					trip = <&trip_full_speed_01>;
					cooling-device = <&fan0 2 2>;
				};
			};
		};

		cpu2-3-thermal {
			trips {
				trip_medium_speed_23: trip-point-medium-23 {
					temperature = <55000>;
					hysteresis = <2000>;
					type = "active";
				};
				trip_full_speed_23: trip-point-full-23 {
					temperature = <60000>;
					hysteresis = <2000>;
					type = "active";
				};
			};

			cooling-maps {
				map_medium_speed_23 {
					trip = <&trip_medium_speed_23>;
					cooling-device = <&fan0 1 1>;
				};
				map_full_speed_23 {
					trip = <&trip_full_speed_23>;
					cooling-device = <&fan0 2 2>;
				};
			};
		};
	};

	leds {
		compatible = "gpio-leds";

		pinctrl-0 = <&gpio_leds_default>;
		pinctrl-names = "default";

		led_r: led-r {
			color = <LED_COLOR_ID_RED>;
			function = "disk-activity"; 
			linux,default-trigger = "mmc0";
			default-state = "off";
		};
		
		led_b: led-b {
			color = <LED_COLOR_ID_BLUE>;
			function = LED_FUNCTION_WLAN;
			linux,default-trigger = "phy0tx";
			default-state = "off";
		};
	};

	cpu_opp_table: opp-table-cpu {
		compatible = "operating-points-v2";
		opp-shared;

		opp-200000000 {
			opp-hz = /bits/ 64 <200000000>;
		};
		opp-400000000 {
			opp-hz = /bits/ 64 <400000000>;
		};
		opp-800000000 {
			opp-hz = /bits/ 64 <800000000>;
		};
		opp-998400000 {
			opp-hz = /bits/ 64 <998400000>;
		};
        opp-1363200000 {
			opp-hz = /bits/ 64 <1363200000>;
		};
		opp-1401600000 {
			opp-hz = /bits/ 64 <1401600000>;
		};
		opp-1621600000 {
			opp-hz = /bits/ 64 <1621600000>;
		};
		opp-1841600000 {
			opp-hz = /bits/ 64 <1841600000>;
		};
		opp-1951600000 {
			opp-hz = /bits/ 64 <1951600000>;
		};
	};
};

&button_restart {
	gpios = <&tlmm 37 GPIO_ACTIVE_HIGH>;
};

&led_b {
	gpios = <&tlmm 20 GPIO_ACTIVE_HIGH>;
};

&led_r {
	gpios = <&tlmm 22 GPIO_ACTIVE_HIGH>;
};

&mpss {
	pinctrl-0 = <&sim_ctrl_default>;
	pinctrl-names = "default";
};

&button_default {
	pins = "gpio37";
	bias-pull-down;
};

&gpio_leds_default {
	pins = "gpio20", "gpio22";
};

/* This selects the external SIM card slot by default */
&tlmm {
	sim_ctrl_default: sim-ctrl-default-state {
		esim-sel-pins {
			pins = "gpio0", "gpio3";
			function = "gpio";
			bias-disable;
			output-low;
		};

		sim-en-pins {
			pins = "gpio1";
			function = "gpio";
			bias-disable;
			output-low;
		};

		sim-sel-pins {
			pins = "gpio2";
			function = "gpio";
			bias-disable;
			output-high;
		};
	};
};